/* blog single page */

.blog-single {
	padding: 6em 0 3em;

	article.article-column,
	.main-column {
		@include span-columns(9);
		@include media($medium-screen-down) {
			@include span-columns(9 of 9);
		}

		.title {
			text-align: left;
			margin-bottom: 0;

			h2 {
				padding-bottom: 0;
				margin-bottom: 0;
			}

			hr.small {
				margin-left: 0;
			}
		}

		h4.post-title {
			letter-spacing: 4px;
			margin-bottom: 4px;
			a {
				color: $base-primary-color;
				text-decoration: none;
			}
		}

		.meta {
			margin-bottom: 1em;
			color: darken(white, 30%);
			padding: 0 0 .5em 0;
			font-size: rem(14px);
			font-weight: normal;
			span {
				display: inline-block;
				margin: 0.2em;
				margin-right: 20px;
			}
		}

		.post-intro {
			text-transform: uppercase;
			font-size: 1.4em;
			color: darken(white, 30%);
		}

		.media {
			margin-bottom: 2em;
		}

		.post-tags {
			border-top: $border-default;
			border-bottom: $border-default;
			margin: 2em 0;
			padding: 1em 0;

			h3 {
				float: left;
				font-size: 1em;
				padding-right: 1em;
				padding-top: .6em;
			}

			span {

				margin-bottom: .2em;
				display: inline-block;

				a {
					color: lighten(black, 40%);
					background: darken(white, 5%);
					display: block;
					padding: .5em;
					font-size: .9em;

					&:hover {
						background: darken(white, 10%);
					}
				}
			}
		}
	}

	.main-column {

		.blog-item {
			@include clearfix;
			border-bottom: $border-default;
			margin-bottom: 2em;
			padding-bottom: 2em;
			@include media($medium-screen-down) {
				margin-bottom: 2em;
			}

			.read-more {
				text-transform: uppercase;
			}

			.media {

				transition: all 0.2s;

				&:hover {
					opacity: 0.9
				}

				.blog-teaser {
					@include span-columns(5 of 9);
					@include media($medium-screen-down) {
						@include span-columns(4);
					}

					.post-title a {
						color: lighten(black, 40%);
					}

					.meta {
						margin-top: .8em;
					}
				}
			}
		}
	}

}

.quote-format {
	background: $highlight;
	padding: 1.5em;

	blockquote {
		font-size: 1.2em;
		color: white;
		border-left: 0;
		padding: 0;
		margin: 0;

		cite {
			display: block;
			color: white;
			opacity: 0.8;
			padding-top: 1em;
			font-size: 0.8em;
		}
	}
}

.format-image a.featured-image {
	width: 100%;
	padding-top: 75%;
	position: relative;
	overflow: hidden;
	img {
		position:absolute;
		top:0;
		bottom:0;
		margin:auto;
	}
}

/* author box */
.author-box {
	margin-bottom: 2em;
	padding: 1.5em;
	background: darken(white, 5%);

	.author-avatar {
		float: left;

		img {
			border-radius: 3px;	
		}
	}

	.author-bio {
		margin-left: 6.5em;

		a {
			color: lighten(black, 40%);
		}

		h3 {
			font-size: 1.2em;
			padding-bottom: .5em;
		}
	}
}

/* archive pagination */
.pagination {
	$pagination-border-color: $base-border-color;
	$pagination-background: lighten($pagination-border-color, 10);
	$pagination-hover-background: lighten($pagination-background, 5);
	$pagination-color: lighten(black, 40%);

  	text-align: center;
  	margin-bottom: 2em;

  	ul {
	    display: inline;
	    text-align: center;

	    li {
				display: inline-block;
				margin-bottom: 5px;
	    }

	    ul li {
	      	display: none;
	      
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				display: inline;
	      	}

	      	@include media($large-screen) {
	        	display: inline;
	      	}
	    }

	    li a {
			@include transition (all 0.2s ease-in-out);
			background: $pagination-background;
			border-radius: $base-border-radius;
			display: block;
			border: none;
			color: $pagination-color;
			padding: .5em 1em;

			&:hover,
			&:focus {
				background: $pagination-hover-background;
				color: $base-link-color;
			}

	      	&:active {
	        	background: $pagination-background;
	      	}
	    }

	    li.active a {
			background: darken(white, 30%);
			color: white;
	    }
  	}
}
