.gallery-page {
	.gallery-page-hero {
		background: #FFFFFF;
		text-align: center;
	}
	.type-gallery {
		margin-bottom: 0;
	}
	section {
		padding-bottom: 0;
	}
	#content {
		padding-bottom: 27px;
	}
	h4 {
		font-size: rem(18px);
		font-weight: normal;
		a {
			color: #000000;
		}
	}

	.gallery-list-container {
		padding: 60px 0;
		@include display(flex);
		@include flex-direction(row);
		@include flex-wrap(wrap);
		.gallery-list-item__thumb {
			width: 100%;
			padding-top: 56.25%;
			position: relative;
			overflow: hidden;
			img {
				position:absolute;
				top:0;
				bottom:0;
				margin:auto;}
		}
		.gallery-list-item {
			&.current {
				border-bottom: 5px solid $base-accent-color;
			}
			@include media($small-screen-down) {
				@include flex-basis(100%);
			}
			margin-bottom: 20px;
			@include media($small-screen-up) {
				@include flex-basis(calc(25% - 20px));
			}

			margin-left: 10px;
			margin-right: 10px;
		}

		.gallery-list-item__teaser {
			padding: 1.5em;
			background: #FFFFFF;
			h4 {
				font-weight: normal;
				margin: 0;
			}
			.meta {
				margin-bottom: 5px;
				color: $base-accent-color;
				i {
					color: darken(white, 30%);
					margin-right: 7px;
				}
				padding: 0 0 .5em 0;
				font-size: rem(14px);
				font-weight: normal;
				span {
					display: inline-block;
					margin: 0.2em;
					margin-right: 20px;
				}

			}

		}
	}
}