.np-about-slider {
	.flexslider {
		border: none !important;
		box-shadow: none !important;
		width: 100%;
		height: auto;
		margin: 0 auto !important;
		img {
			width: 100%;
			height: auto;
		}
		@include media($medium-screen-up) {
			float: right;
			width: 418px;
			height: 340px;
			img {
				width: 418px;

				height: 340px;
			}
		}
	}
}

.page .vc_row.container, .page .vc_row.container-small {
	margin-left: auto;
	margin-right: auto;
}

.page-template-page-fullwidth-meetnick .blog-single {
	padding: 6em 0 0 0;
}


.page-template-page-fullwidth-meetnick .blog-item {
	margin-bottom: 0;
}
