.np-about-slider {
	.flexslider {
		border: none !important;
		box-shadow: none !important;
		width: 100%;
		height: auto;
		margin: 0 auto !important;
		img {
			width: 100%;
			height: auto;
		}
		@include media($medium-screen-up) {
			float: right;
			width: 418px;
			height: 340px;
			img {
				width: 418px;

				height: 340px;
			}
		}
	}
}

.page .vc_row.container, .page .vc_row.container-small {
	margin-left: auto;
	margin-right: auto;
}

.page-template-page-fullwidth-meetnick .blog-single {
	padding: 6em 0 0 0;
}


.page-template-page-fullwidth-meetnick .blog-item {
	margin-bottom: 0;
}

.owl-carousel {
	.owl-controls .owl-nav {
		.owl-prev, .owl-next {
			height: 46px;
			position: absolute;
			text-indent: -9999px;
		}
		.owl-prev {
			left: -100px;
			top: 131px;
			background: url('../img/arrow/arrow-left.svg') center center no-repeat;
		}
		.owl-next {
			top: 131px;
			right: -100px;
			background: url('../img/arrow/arrow-right.svg') center center no-repeat;
		}
	}
}

//Refactor into code - for now isolating these last minute changes
.page-template-page-fullwidth-meetnick {
	h2 {
		@include media($small-screen-down) {
			font-size: 2.5rem;
		}
	}
	.wpb_content_element {
		margin-bottom: 15px;
	}
	@include media($small-screen-down) {
		section + section {
			padding-top: 3em;
		}
	}
}

.single-article {
	h2 {
		@include media($small-screen-down) {
			font-size: 2.5rem;
		}
	}
}


