.partners {
	text-align: center;
	background-color: #FFFFFF;
	padding-top: 3em;
	.partners__partner-list {
		li {
			display: inline-block;
			@include media($small-screen-down) {
				width: 100%;
			}
		}
	}

}