$schedule-carousel-padding: 15px;

.schedule-template-default {
	.blog-single {
		padding-bottom: 0;
	}
}
.schedule-page-hero {
	background: $base-primary-grey;
}

.schedule-content {
	padding-top: 6em;
	padding-bottom: 6em;
	text-align: center;
	background: #FFFFFF;
	letter-spacing: 4px;
	h3.schedule-content__title {
		font-size: rem(34px);
		line-height: 40px;
	}
	.schedule-content__description, .schedule-content__period {
		font-size: rem(20px);
		clear: both;
		display: block;
		margin-top: 20px;
		text-transform: uppercase;
	}
	.schedule-content__event-number {
		font-size: rem(18px);
		color: $base-color-accent;
		text-transform: uppercase;
	}
}

.circuit-detail {
	background: url('../img/result/circuit-bg.jpg') center center no-repeat;
	background-size: cover;
	padding-top: 6em;
	padding-bottom: 4em;
	color: #FFFFFF;
	.circuit-detail__description {
		p {
			color: #FFFFFF;
		}
		margin-bottom: 50px;
	}
	.circuit-detail-container {
		@include display(flex);
		@include flex-direction(row);
		@include media($small-screen-down) {
			@include flex-direction(column);
		}
		.circuit-detail__col {
			padding: 0 30px;
			margin-bottom: 50px;
			&:first-child {
				@include media($small-screen-up) {
					border-right: 1px solid #FFFFFF;
					margin-bottom: 0;
				}
			}
			@include flex(0 0 50%);
		}
		.circuit-detail__track-outline {
			width: 85%;
			margin: 0 auto 40px auto;
			img {
				width: 100%;
			}
		}
	}
	.circuit-detail__results {
		color: #FFFFFF;
		@include display(flex);
		.circuit-detail__result {
			background: #000000;
			width: 60px;
			height: 60px;
			margin: 4px;
			text-align: center;
		}
		.circuit-detail__result-placement {
			font-weight: bold;
			font-family: $bebas-regular-font-stack;
			font-size: rem(44px);
			position: relative;
			top: 5px;
		}
		.circuit-detail__result-label {
			font-size: rem(10px);
		}
		.circuit-detail__mini-text {
			font-size: rem(14px);
			position: relative;
			top: -21px;
		}
	}

	ul.circuit-detail__table {
		li {
			width: 100%;
			clear: both;
			display: table;
			margin: 0 0 20px 0;
		}
		.circuit-detail__key {
			width: 88px;
			display: table-cell;
			color: $base-primary-color;
			font-size: rem(10px);
			text-transform: uppercase;
		}
		.circuit-detail__value {
			display: table-cell;
			font-size: rem(14px);
			color: #FFFFFF;
		}
	}

}

.schedule-page {
	padding: 6em 0 0 0;
	.container {
		max-width: 900px;
	}
}

.schedule-carousel {

	.owl-item {
		padding-left: $schedule-carousel-padding;
		padding-right: $schedule-carousel-padding;
	}
	.schedule-carousel__thumb {

		width: 100%;
		padding-top: 66.66%;
		position: relative;
		overflow: hidden;
		.schedule-carousel__thumb-overlay {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #FFFFFF;
			&.schedule-carousel__thumb-overlay-previous {
				background: $base-primary-color;
			}
			&.schedule-carousel__thumb-overlay-current {
				background: $base-color-accent;
			}
			opacity: 0.4;
		}
		img {
			position:absolute;
			top:0;
			bottom:0;
			margin:auto;
		}
		.schedule-carousel__track-outline {
			position: absolute;
			@include display(flex);
			@include align-items(center);
			z-index: 2;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			img {
				position: relative;
				width: 70%;
			}
		}
	}

	.schedule-carousel__information {
		text-align: center;
		background: #FFFFFF;
		color: $base-primary-color;
		position: relative;
		min-height: 150px;
		padding: 20px 20px 0 20px;
		h4.post-title {
			font-size: rem(18px);
			line-height: 21px;
			font-weight: normal;
			margin-top: 7px;
			min-height: 63px;
			a {
				color: $base-primary-color;
			}
		}
		.meta {

		}
		&.schedule-carousel__information-previous {
			background: $base-primary-color;
			color: #FFFFFF;
			h4.post-title {
				a {
					color: #FFFFFF;
				}
			}
		}
		&.schedule-carousel__information-current {
			border-bottom: 5px $base-color-accent solid;
		}

		.event-number {
			color: $base-color-accent;
			font-size: rem(12px);
			text-transform: uppercase;
		}
	}

}