// Media query definitions
$xl-screen-down: max-width 1441px;
$xl-screen-up: max-width 1441px;


$large-screen-down: max-width 1279px;
$large-screen-up: max-width 1279px;

$small-screen-down: max-width 768px;
$small-screen-up: min-width 768px;

$medium-screen-down: max-width 900px;
$medium-screen-up: min-width 900px;

// Theme variables



