$xl-screen-down: max-width 64.063em;
$xl-screen-up: max-width 64.063em;


$large-screen-down: max-width 53.75em;
$large-screen-up: max-width 53.75em;

$small-screen-down: max-width 30em;
$small-screen-up: min-width 30em;

$medium-screen-down: max-width 37.5em;
$medium-screen-up: max-width 64.063em;


$base-link-color: red;
$base-accent-color: orange;