/* sidebar widgets */
aside.sidebar {
	@include span-columns(3);

	@include media($medium-screen-down) {
		@include span-columns(9 of 9);
		@include pad(1em 0 0);
	}

	.widget-title h4{
		font-size:1.2em!important;
	}
	.blog-single aside.sidebar .widget-wrapper select{
		width: 100%;
	}

	.blog-single aside.sidebar .widget-wrapper ul li a {
		display: inline-block;
		max-width: 100%;
		color: $base-primary-color;

	}
	.blog-single aside.sidebar .widget_rss ul li a,
	.blog-single aside.sidebar .widget_recent_entries ul li a{
		display: block;
	}


	.widget-wrapper {
		margin-bottom: 3em;


		.widget-title {
			padding-bottom: .5em;
			margin-bottom: 1em;
			border-bottom: 1px solid $base-secondary-grey;

		}

		ul.blog-categories li {
			border-bottom: solid 1px darken(white, 5%);


			&:before {
				content: '\f105';
				font-family: 'Fontawesome';
				float: left;
				padding: .5em;
			}

			&:hover {
				background: darken(white, 3%);
			}

			a {
				color: $base-primary-color;
				text-transform: uppercase;
				display: block;
				padding: .5em;
			}

			&:hover {
				color: lighten(black, 50%);
			}
		}

		.blog-tags {

			span {

				margin-bottom: .2em;
				display: inline-block;

				a {
					color: lighten(black, 40%);
					background: darken(white, 5%);
					display: block;
					padding: .5em;
					font-size: .9em;

					&:hover {
						background: darken(white, 10%);
					}
				}
			}
		}
	}
}



/* categories widget */
aside.sidebar .widget-wrapper {
	margin-bottom: 2.5em;
}
.blog-single aside.sidebar .widget-wrapper ul li {
	font-size: rem(12px);
	a {
		color: $base-primary-color;
		text-transform: uppercase;
		display: block;
		padding: .5em;
	}
}
.blog-single aside.sidebar .widget-wrapper embed,
.blog-single aside.sidebar .widget-wrapper iframe{
	max-width: 100%;
}
.blog-single aside.sidebar .widget-wrapper ul li a span{
	background: #f4f4f4;
	width: 35px;
	height: 35px;
	float: right;
	text-align: center;
}
.blog-single aside.sidebar .widget-wrapper ul li:before {
	content: '\f105';
	font-family: 'Fontawesome';
	float: left;
	padding: .5em;
}
.blog-single aside.sidebar .widget-wrapper ul li:hover {
	background: #f7f7f7;
}
.blog-single aside.sidebar .widget-wrapper ul li:hover {
	color: gray;
}
/* tag cloud widget */
.blog-single aside.sidebar .widget-wrapper .tagcloud a{
	margin-bottom: .2em;
	display: inline-block!important;
	color: #666666;
	background: #f2f2f2;
	display: block;
	padding: .5em;
	font-size: .9em;
}
.blog-single aside.sidebar .widget-wrapper .tagcloud a:hover {
	background: #e6e6e6;
}
.posts-widget-tem{
	margin-bottom: 2em;
}
.posts-widget-tem .post-header .post-title{
	font-size:13px;
	font-weight: 700;
}
.posts-widget-tem .post-header .fa{
	font-size:0.8em;
}
.posts-widget-tem .post-header .comments{
	margin-left: 7px;
}
.posts-widget-tem .post-header .comments a,
.posts-widget-tem .post-header .date a,
.posts-widget-tem .post-header .view a
{
	font-size: 13px;
	text-transform: capitalize!important;
	color: #aaa;
}
.posts-widget-tem .post-hover{
	padding: 0px!important;
	display: block!important;
}
.widget-wrapper ul.posts-widget li:before{
	content:none!important;
}
.posts-widget-tem a{
	padding-top:0!important;
	padding-left:0!important;
	padding-right:0!important;
}
.posts-widget-tem .post-hover .img-hover{
	height:95%;
}

//Recent Comments
#recentcomments li::before {
	padding: 0 0.5em;
}

#recentcomments li {
	border-bottom: solid 1px rgba(0,0,0,0.1);
	padding: .8em 0;
}